body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height: 1.8;
  height: 100vh;
}

a {
  color: #777777;
}

.dash {
  opacity: 0.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

/* navbar */
.nav-wrapper {
  border-bottom: 2px solid #cccccc;
}

.navbar-container {
  max-width: 960px;
  background-color: #ffffff;
  margin: auto;
}

.logo {
  background-color: #4aaaa5;
  color: #ffffff !important;
  padding: 20px;
  font-size: 20px;
}

#navbarNav {
  margin-left: auto;
}

/* main */
.main {
  background: url('../images/hero.png');
  height: 90%;
}

.profile {
  max-width: 960px;
  margin: auto;
}

.primary-heading {
  padding-bottom: 16px;
  border-bottom: 2px solid #cccccc;
}

/* profile image */
.profile-image {
  width: 100%;
}

/* submit btn */
.submit-btn {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 6px 22px;
  border-radius: none;
  border: none;
}

/* portfolio */

.portfolio-container {
  height: 200px;
  width: 300px;
}

.portfolio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.portfolio-title {
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
  position: absolute;
  bottom: 2px;
  width: 90%;
  font-size: 20px;
}

/* footer */
.footer {
  font-size: 11px;
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
}

/* row */
@media only screen and (min-width: 575px) {
  .main-container {
    margin: 0 6px;
  }
  .logo {
    margin-left: 20px;
  }
  #navbarNav {
    margin-right: 20px;
  }
  .navbar-toggler {
    margin-right: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .main-container {
    margin-bottom: 24px;
  }
  .portfolio-title {
    width: 93.5%;
  }
  .portfolio-5 {
    width: 100%;
  }
  .portfolio-6 {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .portfolio-title {
    width: 92%;
  }
}
