@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

main {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/hero.jpg') no-repeat center center/cover;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f1c40f;
  border-radius: 4px;
}

.content__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content__start {
  color: #2980b9;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.content__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content__wins {
  color: #2ecc71;
}

.content_guesses {
  color: #e74c3c;
}

/* image */
.content__image {
  opacity: 0.5;
  filter: blur(11px);
}

.content__image--active {
  opacity: 1;
  filter: none;
}

/* rules */
.content__rules {
  margin-top: 2rem;
}

.content__current-word {
  margin-bottom: 1rem;
}

#current-word {
  margin-bottom: 1rem;
}

#guessed-letter {
  margin-top: 1rem;
}

@media only screen and (max-width: 500px) {
  .content {
    width: 80%;
    margin: auto;
  }
  .content__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content__image--container {
    height: 100%;
    width: 100%;
  }

  .content__image {
    height: 100%;
    width: 100%;
  }

  .content__wins,
  .content_guesses {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    width: 70%;
  }
}
